<div class="container profilePage">
  <div class="profilePage_user">
    <div class="profilePage_user_image">
      <%= image_tag 'male.svg' %>
    </div>
    <div class="profilePage_user_basicInfo">
      <div class="profilePage_user_name">
        <div class="profilePage_user_displayName">
          <%= current_user.name %>
        </div>
        <div class="profilePage_user_actionButton">
          <%= link_to 'Edit', edit_profile_path %>
        </div>
      </div>
      <div class="profilePage_user_introduction">
        <%= current_user.profile.introduction %>
      </div>
    </div>
  </div>
</div>
