<% article.comments.each do |comment| %>
  <% comment_user = comment.user %>
  <tr>
    <td>
      <%= image_tag comment.user.profile.get_profile_image(100, 100) %><br>
      <%= comment.user.name %>
    </td>
    <td><%= comment.comment %></td>
    <% if current_user == comment.user %>
      <td><%= link_to 'Destroy', article_comment_path(comment.article_id, comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
    <% end %>
  </tr>
<% end %>