<div class = "row mt-5">
  <div class = "col-md-8 offset-md-1">
    <h2>記事一覧</h2>
    <table class="table table-hover">
      <thead>
        <tr>
            <th>投稿者名</th>
            <th>title</th>
            <th></th>
            <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% articles.each do |article| %>
          <%= render 'commons/articles', article: article%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate articles%>