<div class="container">
  <div class="tabs">
    <div class="<%= add_active_class(profile_path) %> tabs_item">
      <%= link_to '記事一覧', profile_path %>
    </div>
    <div class="<%=add_active_class(dashboard_path ) %> tabs_item">
      <%= link_to 'ダッシュボード', dashboard_path %>
    </div>
  </div>
</div>
