
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>送信が完了しました</h2>
      
      <p>内容は以下の通りです。</p>
      
      <h3>[タイトル]</h3>
      <p><%= @title %></p>
      
      
      <h3>[本文]</h3>
      <p><%= @body %></p>
  </div>
</div>