


.simple-calendar {
  .day {
    width: 100px;
    height: 100px;
  }
  
  .calendar-heading{
    font-size: 30px;
  }

  .level1{
    background-color: #ebedf0;
  }
  
  .level2{
    background-color: #c6e48b;
  }
  
  .level3{
    background-color: #7bc96f;
  }
  
  .level4{
    background-color: #196127;
  }
}
