$avatar-size: 60px;


.follow_card{

  &_list{
    border-bottom: 1px solid #EEEEEE;
  }
  &_content{
    display: flex;
    width: 190px;
    height: 40px;
    margin-bottom: 30px ;
  }
  
  &_user{
  img{
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    margin-right: 20px;
    padding:0;
    }
  }
}
