<div class="container">
  <% if @model == 'article' || @model == 'tag' %>
    <h3>検索結果 "<%= @content %>"</h3>
    <div class = "container">
      <%=render "commons/article", articles: @records%>
    </div>
  <% end %>
</div>