<header class="header">
  <p class="header_pageTitle">新着記事</p>
  <div class="dropdown">
    <%= image_tag 'male.svg', class: 'header_avatar dropbtn' %>
    <div class="dropdown-content">
      <a href="#">プロフィール</a>
      <a href="#">ログアウト</a>
    </div>
  </div>
</header>