

<div class="col-md-8 offset-md-1">
    <table class="table">
  
      <h2>Users</h2>
        <thead>
        <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="１"></th>
        </tr>
        </thead>
  
    
      <tbody>
        <%= render 'index', users: @users %>
      </tbody>

    </table>
  <%= paginate @users%>
</div>
